#!/bin/sh

errorExit() {
    >&2 echo "Health check failure: $*"
    exit 1
}

check() {
    output=$(curl -4 --silent --max-time 2 --insecure "https://$1:6443/version" --show-error) || errorExit "failed to GET https://$1:6443/version"
    major=$(printf "$output" | grep '"major":' | sed -E 's/.*"major":.*"([^"]*)".*?/\1/')
    minor=$(printf "$output" | grep '"minor":' | sed -E 's/.*"minor":.*"([^"]*)".*?/\1/')
    version=$major.$minor
    printf {{ keepalived_kube_min_apiserver_version | quote }}"\n$version" | sort -c -V || errorExit "kube-apiserver v$version < "{{ keepalived_kube_min_apiserver_version | quote }}
}

check 127.0.0.1
if ip -4 addr | grep -q {{ keepalived_kube_vip_v4 | quote }}; then
    check {{ keepalived_kube_vip_v4 | quote }}
fi
